In [1]:
import pandas as pd

In [4]:
tab=pd.read_csv('dark_matter.csv')
tab.head()

          x         y         z      Mass
0  1.060875 -1.095107 -0.416052  0.000002
1  1.030038 -1.063798 -0.520789  0.000002
2  1.006628 -0.974984 -0.506362  0.000002
3  0.889162 -1.021871 -0.505777  0.000002
4  0.903723 -1.099763 -0.494289  0.000002

In [6]:
tab=pd.read_csv('gas.csv')
tab.head()

          x         y         z      Vel_x      Vel_y     Vel_z          Mass
0  0.924024 -1.125007 -0.416531  31.855543  26.125341  0.998518  1.200769e-07
1  0.952356 -1.082849 -0.427266  30.138710  25.784353  1.145659  1.200769e-07
2  0.997621 -0.976360 -0.430778  28.567080  28.082037 -0.491324  1.200769e-07
3  1.031181 -1.078250 -0.399910  30.092678  26.691582 -0.660944  1.200769e-07
4  0.999100 -1.047195 -0.535561  30.699675  27.115805  3.121913  1.200769e-07