In [18]:
import pandas as pd
tabla=pd.read_csv('fandango.csv')
tabla.head(n=10)

                                               FILM  STARS  RATING  VOTES
0                       Fifty Shades of Grey (2015)    4.0     3.9  34846
1                             Jurassic World (2015)    4.5     4.5  34390
2                            American Sniper (2015)    5.0     4.8  34085
3                                  Furious 7 (2015)    5.0     4.8  33538
4                                 Inside Out (2015)    4.5     4.5  15749
5  The Hobbit: The Battle of the Five Armies (2014)    4.5     4.3  15337
6               Kingsman: The Secret Service (2015)    4.5     4.2  15205
7                                    Minions (2015)    4.0     4.0  14998
8                    Avengers: Age of Ultron (2015)    5.0     4.5  14846
9                             Into the Woods (2014)    3.5     3.4  13055

In [16]:
tabla.values

array([['Fifty Shades of Grey (2015)', 4.0, 3.9, 34846],
       ['Jurassic World (2015)', 4.5, 4.5, 34390],
       ['American Sniper (2015)', 5.0, 4.8, 34085],
       ...,
       ['Yagavarayinum Naa Kaakka (2015)', 0.0, 0.0, 0],
       ['Yesterday, Today and Tomorrow (1964)', 0.0, 0.0, 0],
       ['Zarafa (1)', 0.0, 0.0, 0]], dtype=object)

In [17]:
tabla.values[:5,:]

array([['Fifty Shades of Grey (2015)', 4.0, 3.9, 34846],
       ['Jurassic World (2015)', 4.5, 4.5, 34390],
       ['American Sniper (2015)', 5.0, 4.8, 34085],
       ['Furious 7 (2015)', 5.0, 4.8, 33538],
       ['Inside Out (2015)', 4.5, 4.5, 15749]], dtype=object)